.leaflet-label {
	border-width: 2px;
	font: 10px/14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

body {
  background-color: #fff;
  font-family: Verdana, Arial, sans-serif; 
}


.hdr {
    font-size:1.5em;
    margin-left:auto; margin-right:auto;
    color: white;
    background-color: #465;
    padding-left: 1.5em;
    padding-right: 8em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border-radius: 15px;
    border: 3px solid #798;
}

.leaflet-div-icon {
}